name: keep-run-to-cron
on:
  workflow_dispatch: # 手动触发
  schedule: # 计划任务触发/
    - cron: '30 3,4,9,15,21 * * *' 
    # cron表达式，时区是UTC时间，比我们早8小时
    
jobs:
  run-JD-tool:
    runs-on: ubuntu-latest
    environment: Production
    steps:
    - name: 检查环境
      uses: actions/checkout@main
    - name: 钉钉推送开始消息
      run: |
        curl 'https://oapi.dingtalk.com/robot/send?access_token=5a112634548ad35387da3de21ef1b4218954fe067a89cd1d3c03ec0c162ebf3e' \
        -H 'Content-Type: application/json' \
        -d '{"msgtype": "text", 
            "text": {
             "content": "开始启动github action的linux机器"
            }
          }'
    - name: 安装 docker-compose
      run: |
        sudo apt-get update && sudo apt-get install -y python3-pip curl vim git moreutils
        pip3 install --upgrade pip
        pip install docker-compose
        
    #- name: Create tmate session
    #  uses: cyz0105/debugger-action@mai
    #  run: |
    #    cp $GITHUB_WORKSPACE/ssh2action.sh ./script.sh
    #    chmod +x ./script.sh
    #    ./script.sh 2>&1 | tee ssh.log
    
    #- name: SSH connection to Actions
    #  run: |
    #    echo 'please wait for 5 seconds'
    #    sleep 5
    #    echo 'your tmate link is:'
    #    cat ssh.log | grep https
    #    echo "请输入在tmate页面按一次Ctrl+C,再输入命令cd openwrt && make menuconfig 运行"
    #    echo "输入'touch /tmp/finished'以结束ssh开始编译"
    #    echo "::group::$(cat ssh.log | grep https)"
    #    for((i=1;i<3601;i+=10)); do if [ ! -f /tmp/finished ];then echo "/////////////////////////////////////////////";cat ssh.log | grep https;echo "/////////////////////////////////////////////";echo "  ";echo "  ";echo "type 'touch /tmp/finished' if you want to continue compile ";echo "  ";echo "  ";else break ;fi; sleep 10; done
    
    - name: 启动  docker-compose
      run: |
        mkdir /home/runner/work/jd_scripts
        cp -r $GITHUB_WORKSPACE/* /home/runner/work/jd_scripts
        cd /home/runner/work/jd_scripts
        sudo docker-compose up -d
    - name: 查看  docker的环境变量
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'env'
    - name: 等待cron运行
      run: |
        sleep 21540
