name: JD-daily-task
on:
  workflow_dispatch: # 手动触发
  schedule: # 计划任务触发/
    - cron: '0 16 * * *' 
    # cron表达式，时区是UTC时间，比我们早8小时，如上所表示的是每天0点0分（24点整）
    # 建议每个人通过设置 GitHub Environments 的方式来设定为自己的目标运行时间（详细设置方法见文档说明）

jobs:
  run-JD-tool:
    runs-on: ubuntu-latest
    environment: Production
    steps:
    - name: 检查环境
      uses: actions/checkout@main
      
    - name: 安装 docker-compose
      run: |
        sudo apt-get update && sudo apt-get install -y python3-pip curl vim git moreutils
        pip3 install --upgrade pip
        pip install docker-compose
        
    #- name: Create tmate session
    #  uses: cyz0105/debugger-action@mai
    #  run: |
    #    cp $GITHUB_WORKSPACE/ssh2action.sh ./script.sh
    #    chmod +x ./script.sh
    #    ./script.sh 2>&1 | tee ssh.log
    
    #- name: SSH connection to Actions
    #  run: |
    #    echo 'please wait for 5 seconds'
    #    sleep 5
    #    echo 'your tmate link is:'
    #    cat ssh.log | grep https
    #    echo "请输入在tmate页面按一次Ctrl+C,再输入命令cd openwrt && make menuconfig 运行"
    #    echo "输入'touch /tmp/finished'以结束ssh开始编译"
    #    echo "::group::$(cat ssh.log | grep https)"
    #    for((i=1;i<3601;i+=10)); do if [ ! -f /tmp/finished ];then echo "/////////////////////////////////////////////";cat ssh.log | grep https;echo "/////////////////////////////////////////////";echo "  ";echo "  ";echo "type 'touch /tmp/finished' if you want to continue compile ";echo "  ";echo "  ";else break ;fi; sleep 10; done
    
    - name: 启动  docker-compose
      run: |
        mkdir /home/runner/work/jd_scripts
        cp -r $GITHUB_WORKSPACE/* /home/runner/work/jd_scripts
        cd /home/runner/work/jd_scripts
        sudo docker-compose up -d
    - name: 查看  docker的环境变量
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'env'
        
    - name: 运行    jd_beauty.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_beauty.js'
    - name: 运行    jd_bean_change.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_bean_change.js'
    - name: 运行    jd_bean_sign.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_bean_sign.js'
    - name: 运行    jd_fruit.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_fruit.js'
    - name: 运行    jd_dreamFactory.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_dreamFactory.js'
    - name: 运行    jd_jxnc.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_jxnc.js'
    - name: 运行    jd_bean_home.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_bean_home.js'
    - name: 运行    jd_small_home.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_small_home.js'
    - name: 运行    jd_speed.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_speed.js'
    - name: 运行    jd_speed_sign.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_speed_sign.js'
    - name: 运行    jd_cash.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_cash.js'
    - name: 运行    jd_superMarket.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_superMarket.js'
    - name: 运行    jd_sgmh.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_sgmh.js'
    - name: 运行    jd_club_lottery.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_club_lottery.js'
    - name: 运行    jd_syj.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_syj.js'
    - name: 运行    jd_crazy_joy.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_crazy_joy.js'
    - name: 运行    jd_xgyl.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_xgyl.js'
    - name: 运行    jx_sign.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jx_sign.js'
    - name: 运行    jd_daily_egg.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_daily_egg.js'
    - name: 运行    jd_family.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_family.js'
    - name: 运行    jd_global_mh.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_global_mh.js'
    - name: 运行    jd_joy.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_joy.js'
    - name: 运行    jd_joy_feedPets.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_joy_feedPets.js'
    - name: 运行    jd_joy_reward.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_joy_reward.js'
    - name: 运行    jd_joy_run.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_joy_run.js'
    - name: 运行    jd_joy_steal.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_joy_steal.js'
    - name: 运行    jd_kd.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_kd.js'
    - name: 运行    jd_moneyTree.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_moneyTree.js'
    - name: 运行    jd_ms.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_ms.js'
    - name: 运行    jd_necklace.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_necklace.js'
    - name: 运行    jd_nzmh.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_nzmh.js'
    - name: 运行    jd_pet.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_pet.js'
    - name: 运行    jd_pigPet.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_pigPet.js'
    - name: 运行    jd_plantBean.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_plantBean.js'
    - name: 运行    jd_price.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_price.js'
    - name: 运行    jd_rankingList.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_rankingList.js'
    - name: 运行    jd_redPacket.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_redPacket.js'
    - name: 运行    jd_shop.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_shop.js'
    - name: 运行    jd_jdzz.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_jdzz.js'
    - name: 运行    jd_jdfactory.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_jdfactory.js'
    - name: 运行    jd_unsubscribe.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_unsubscribe.js'
    - name: 运行    jd_crazy_joy_coin.js
      run: |
        cd /home/runner/work/jd_scripts
        sudo docker exec -i jd_scripts /bin/sh -c 'node jd_crazy_joy_coin.js'
